In [132]:
# importing libraries
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import sklearn

In [133]:
# data loading 
df=pd.read_csv(r"C:\Users\janvi soni\Desktop\datasets\InfantMortalityRate.csv")
#printing data
df

                   Country  InfantMortalityRate  Gender  Year
0              Afghanistan            43.050731  Female  2019
1                   Angola            44.851045  Female  2019
2                  Albania             7.659442  Female  2019
3                  Andorra             2.555451  Female  2019
4     United Arab Emirates             5.716825  Female  2019
...                    ...                  ...     ...   ...
7618                 Samoa            16.894304   Total  2009
7619                 Yemen            44.940469   Total  2009
7620          South Africa            36.460146   Total  2009
7621                Zambia            54.130195   Total  2009
7622              Zimbabwe            55.866004   Total  2009

[7623 rows x 4 columns]

In [135]:
#checking if there any row is null and then adding them
df.isnull().sum()

Country                0
InfantMortalityRate    0
Gender                 0
Year                   0
dtype: int64

In [136]:
datafeature=['Year']

In [137]:
x=df[datafeature] # indepent variable

In [119]:
y=df.InfantMortalityRate            #dependent variable

In [120]:
from sklearn.tree import DecisionTreeRegressor

In [121]:
mymodel=DecisionTreeRegressor(random_state=1)
mymodel.fit(x,y)

DecisionTreeRegressor(random_state=1)

In [122]:
print("making prediction on 50 percent of data")
print(x.head(4000))                             # top 4000 rows

making prediction on 50 percent of data
      Year
0     2019
1     2019
2     2019
3     2019
4     2019
...    ...
3995  2013
3996  2013
3997  2013
3998  2013
3999  2013

[4000 rows x 1 columns]

In [128]:
print("prediction:-")
print(mymodel.predict(x.head(4000)))                                            #prediction
df['InfantMortalityRate'].head()

prediction:-
[21.12426742 21.12426742 21.12426742 ... 24.96203045 24.96203045
 24.96203045]

0    43.050731
1    44.851045
2     7.659442
3     2.555451
4     5.716825
Name: InfantMortalityRate, dtype: float64

In [138]:
df.head()                                                    # checking whwther the prediction is correct oh! it's absolutely correct

                Country  InfantMortalityRate  Gender  Year
0           Afghanistan            43.050731  Female  2019
1                Angola            44.851045  Female  2019
2               Albania             7.659442  Female  2019
3               Andorra             2.555451  Female  2019
4  United Arab Emirates             5.716825  Female  2019